---
const data = [
    {
        bg: "bg-[url('/images/team-collaboration.png')]",
        alt: "Team Collaboration",
        title: "Forma parte de <br class='br-hidden'> nuestra red",
        description: "Nuestro equipo especializado te conecte <br class='br-hidden'> con las mejores oportunidades",
    },
    {
        bg: "bg-[url('/images/idea-planning.png')]",
        alt: "Idea Planning",
        title: "Lo que necesitas para <br class='br-hidden'> aplicar",
        description: "Inglés fluido <br class='br-hidden'> 5 años de experiencia mínima.",
    },
    {
        bg: "bg-[url('/images/woman-reading.png')]",
        alt: "Woman Reading",
        title: "Queremos saber <br class='br-hidden'> más de ti",
        description: "Queremos conocerte. <br class='br-hidden'> Adjunta tu hoja de vida",
    },
]
---

<section class="size-screen padding-auto">
    <div class="overflow-x-auto overflow-y-hidden lg:overflow-visible">
        <div class="flex flex-row lg:grid lg:grid-cols-3 gap-3 lg:gap-5">
            {data.map(( item, index ) => (
                <div class={`min-w-[320px] lg:min-w-auto h-[560px] lg:h-[628px] p-2.5 rounded-4xl flex ${item.bg} ${index % 2 ? 'into-top-not-mobile' : 'into-bottom-not-mobile'}`}>
                    <div class="w-full h-[255px] col gap-3 px-[20px] py-[40px] lg:pr-0 justify-end rounded-4xl text-white mt-auto backdrop-blur-2xl">
                        <h2 class="text-[32px] leading-[36px] font-bold" set:html={item.title}></h2>
                        <p class="font-medium" set:html={item.description}></p>
                    </div>
                </div>  
            ))}
        </div>
    </div>
</section>