---
import Button from "@/components/common/button.astro";
---

<section id="hero" class="size-screen pt-[100px] lg:pt-[140px] pb-[50px]">
    <div class="flex flex-col lg:flex-row justify-center items-center gap-8 lg:gap-4">
        <div class="col gap-8 text-center lg:text-start">
            <h1 class="text-[45px] leading-[50px] lg:text-[65px] lg:leading-[70px] font-bold into-left">
                Avanza al siguiente <br class="br-hidden"> 
                nivel profesional
            </h1>
    
            <p class="text-sm lg:text-base font-semibold text-[18px] leading-[22px] into-left-2">
                Descubre nuevas oportunidades para crecer, desarrollar tus habilidades <br class="br-hidden">
                y posicionarte estratégicamente en el camino hacia el éxito.
            </p>

            <Button className="mx-auto lg:mx-0 into-left-3" />
        </div>

        <img 
            src="/images/hero-people.png" 
            alt="Peoples" 
            loading="eager"
            class="into-right-2"
        >
    </div>
</section>