---
import Button from "@/components/common/button.astro";
---

<section class="size-screen padding-auto">
    <div class="flex flex-col lg:flex-row lg:items-center">
        <div class="col gap-7">
            <h1 class="text-[52px] leading-[56px] font-bold">
                ¿Buscas Empleo?
            </h1>

            <p class="text-[20px] leading-[24px] font-semibold">
                Nuestro equipo se encargará de entender y <br class="br-hidden">
                posicionar tus habilidades para conseguir la mejor <br class="br-hidden">
                oferta disponible en nuestra plataforma. 
                <br> 
                <br>
                <br>
                Contarás con acompañamiento para construir tu <br class="br-hidden">
                perfil, visibilizar tus habilidades y las fortalezas que <br class="br-hidden">
                hacen de tu perfil un candidato único.
            </p>

            <Button />
        </div>

        <img 
            src="/images/women-in-tech-team.png" 
            alt="Women in tech team" 
            loading="lazy"
        >
    </div>
</section>