<section class="size-screen pb-[50px]">
    <div class="bg-[#F5F3EF] rounded-4xl px-[60px] py-[70px] col gap-2">
        <div class="relative flex justify-center">
            <h1 class="text-[38px] leading-[42px] font-semibold text-center absolute-center whitespace-nowrap">
                Trabaja para compañias de <br class="br-hidden">
                tecnologia en EE.UU y el mundo
            </h1>
            <img src="/images/world-points.png" alt="World made of dots" loading="lazy">
        </div>

        <div class="row gap-20">
            <div class="col gap-4">
                <img src="/images/profile-group.png" alt="Profile group" loading="lazy" class="w-fit">
                <h2 class="text-[44px] leading-[48px] font-semibold">
                    Top 5% del talento <br class="br-hidden">
                    LATAM
                </h2>   
            </div>

            <div class="text-[22px] leading-[26px] font-medium col gap-10">
                <p>
                    Únete a nuestra plataforma de talentos en tecnología, <br class="br-hidden">
                    desarrollo de producto, ciencia de datos, <br class="br-hidden">
                    inteligencia artificial
                </p>

                <p>
                    Recibe ofertas de nuestro portafolio de compañías <br class="br-hidden">
                    internacionales aliadas, que están buscando el mejor <br class="br-hidden">
                    talento en latinoamérica.
                </p>
            </div>
        </div>
    </div>
</section>