<section class="size-screen pb-[50px]">
    <div class="bg-[#F5F3EF] rounded-4xl px-8 py-10 lg:px-[60px] lg:py-[70px] col gap-10 lg:gap-2">
        <div class="relative flex justify-center into-center">
            <h1 class="text-[28px] leading-[34px] lg:text-[48px] lg:leading-[52px] font-semibold text-center absolute-center whitespace-nowrap">
                Trabaja para <br class="lg:hidden"> compañias de <br class="br-hidden">
                tecnologia <br class="lg:hidden"> en EE.UU y el mundo
            </h1>
            
            <img 
                src="/images/world-points.png" 
                alt="World made of dots" 
                loading="lazy"
            >
        </div>

        <div class="flex flex-col lg:flex-row gap-10 lg:gap-20">
            <div class="col items-center lg:items-start gap-2 lg:gap-4">
                <img 
                    src="/images/profile-group.png" 
                    alt="Profile group" 
                    loading="lazy" 
                    class="w-fit into-top"
                >

                <h2 class="text-[44px] leading-[48px] font-bold text-center lg:text-start into-left-2">
                    Top 5% del talento <br class="br-hidden">
                    LATAM
                </h2>   
            </div>

            <div class="text-[18px] leading-[22px] lg:text-[22px] lg:leading-[26px] font-semibold col gap-7 lg:gap-10">
                <p class="into-right">
                    Únete a nuestra plataforma de talentos en tecnología, <br class="br-hidden">
                    desarrollo de producto, ciencia de datos, <br class="br-hidden">
                    inteligencia artificial
                </p>

                <p class="into-right-2">
                    Recibe ofertas de nuestro portafolio de compañías <br class="br-hidden">
                    internacionales aliadas, que están buscando el mejor <br class="br-hidden">
                    talento en latinoamérica.
                </p>
            </div>
        </div>
    </div>
</section>