---
const { text } = Astro.props;
---

<button 
    class="bg-main hover:bg-main/90 py-2.5 px-10 w-fit text-lg font-bold rounded-full text-white cursor-pointer"
>
    {text ? text : 'Contacto'}
</button>